.experience {
    padding: 50px;
    
    span {
        color: blue;
    }
    .heart-i {
        color: #FF5A79;
    }
    &-card {
        @include flexProp(row);
        .card-description {
          margin-left: 10px;
        }
    }
    
}